* {
    box-sizing: border-box;
}

body {
    font-family: 'Hepta Slab', serif;
    background-color: #e8e5d2;
    color: #2b2b2b;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 30px;
}

h4 {
    margin-top: 30px;
}

.header {
    text-align: center;
    margin-top: 20%;
}

.header-2 {
    margin-top: 70px;
}

.subheader {
    width: 860px;
    margin: 0 auto;
    padding-left: 50px;
    text-align: left;
}

.home-body {
    text-align: center;
}

.endpoints {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endpoints_endpoint-info {
    width: 600px;
    margin-left: 90px;
}

.endpoints_endpoint-info_data {
    padding-left: 50px;
}

.endpoints_endpoint-info_code {
    margin-left: -120px;
}

.endpoints_endpoint-info_data_list {
    padding-left: 80px;
}

@media all and (max-width: 940px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    body {
        font-size: 14px;
    }

    .subheader {
        width: 740px;
    }

    .endpoints_endpoint-info {
        width: 500px;
    }
}

@media all and (max-width: 760px) {
    .subheader {
        font-size: 12px;
        width: 670px;
    }
}

@media all and (max-width: 670px) {
    h1 {
        font-size: 26px;
        margin-left: 30px;
        margin-right: 30px;
    }

    h2 {
        font-size: 22px;
        margin-left: 30px;
        margin-right: 30px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 12px;
    }

    body {
        font-size: 12px;
    }

    .subheader {
        width: 300px;
    }

    .endpoints_endpoint-info {
        width: 260px;
        margin-left: 0px;
    }

    .endpoints_endpoint-info_data {
        padding-left: 16px;
    }
}

@media all and (max-width: 420px) {
    h3 {
        font-size: 15px;
    }
}